body {
    background-color: #45433f;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    color: #45433f;
    margin-bottom: 100px;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #45433f;
}
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #45433f;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-title {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-subtitle {
  font-size: 16px;
  margin-bottom: 40px;
  width: 400px;
  text-align: center;
  font-weight: 300;
}
.logo {
  width: 400px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.input-box {
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
}
.form-input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #74d6dd;
}
.form-label-inline {
  margin-bottom: 20px;
}
.form-checkbox {
  margin-bottom: 20px;
}
.form-button {
  width: 400px;
  height: 40px;
  background-color: #f84b38;
  border: none;
  border-radius: 5px;
  color: #f8f8f8;
  font-size: 16px;
  cursor: pointer;
}



.container {
  height: 100vh;
  background-color: #45433f;
  min-width: 1200px;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 60px;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 100%;
  background-color: #232322;
}
.nav-logo {
  font-size: 24px;
  font-weight: 800;
  color: #45433f;
  padding-left: 20px;
}
.nav-logo-link {
  text-decoration: none;
  color:#f84b38;
  transition: color .3s ease;
}
.nav-logo-link:hover {
  color: #f8f8f8;
}
.nav-logout {
  padding-right: 20px;
}
.logout-button {
  background-color: #f84b38;
  color: #f8f8f8;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color .3s ease;
  text-decoration: none;
}
.logout-button:hover {
  background-color: #f8f8f8;
  color: #f84b38;
}
.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: #45433f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}
.welcome-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:
    url("/static/images/sbd-progress-tracker-logo-wide.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #f8f8f8;
}
.welcome-header{
  font-size: 80px;
  text-shadow: #45433f 4px 8px; 
  text-align: center;

}
.welcome-paragraph {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  text-shadow: #45433f 4px 4px;
}

.log-workout-container {
  max-width: 1100px;
  width: 100%;
  background-color:#45433f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.log-workout-header {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f8f8f8;
  text-shadow: #45433f 4px 4px;
}
.log-workout-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:flex-start;
  width: 400px;
  height: 300px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;

}
.log-workout-input-box {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.log-workout-form-label {
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
  width: 30%;
  text-align: center;
}
.log-workout-form-input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #74d6dd;
  text-align: center;
}
.log-workout-form-button {
  width: 100%;
  height: 40px;
  background-color: #f84b38;
  border: none;
  border-radius: 5px;
  color: #f8f8f8;
  font-size: 16px;
  cursor: pointer;

}



