body {
    background-color: #45433f;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    color: #45433f;
    margin-bottom: 100px;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #45433f;
}
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #45433f;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-title {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-subtitle {
  font-size: 16px;
  margin-bottom: 40px;
  width: 400px;
  text-align: center;
  font-weight: 300;
}
.logo {
  width: 400px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.input-box {
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
}
.form-input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #74d6dd;
}
.form-label-inline {
  margin-bottom: 20px;
}
.form-checkbox {
  margin-bottom: 20px;
}
.form-button {
  width: 400px;
  height: 40px;
  background-color: #f84b38;
  border: none;
  border-radius: 5px;
  color: #f8f8f8;
  font-size: 16px;
  cursor: pointer;
}



.container {
  height: 100vh;
  background-color: #45433f;
  min-width: 1200px;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 60px;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 100%;
  background-color: #232322;
}
.nav-logo {
  font-size: 24px;
  font-weight: 800;
  color: #45433f;
  padding-left: 20px;
}
.nav-logo-link {
  text-decoration: none;
  color:#f84b38;
  transition: color .3s ease;
}
.nav-logo-link:hover {
  color: #f8f8f8;
}
.nav-logout {
  padding-right: 20px;
}
.logout-button {
  background-color: #f84b38;
  color: #f8f8f8;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color .3s ease;
  text-decoration: none;
}
.logout-button:hover {
  background-color: #f8f8f8;
  color: #f84b38;
}
.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: #45433f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}
.welcome-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:
    url("/static/images/sbd-progress-tracker-logo-wide.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #f8f8f8;
  margin-bottom: 40px;  
}
.welcome-header{
  font-size: 80px;
  text-shadow: #45433f 4px 8px; 
  text-align: center;

}
.welcome-paragraph {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  text-shadow: #45433f 4px 4px;
}

.log-workout-container {
  max-width: 1100px;
  width: 100%;
  background-color:#45433f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.log-workout-header {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f8f8f8;
  text-shadow: #45433f 4px 4px;
}
.log-workout-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin-bottom: 40px;
}

.log-workout-input-box {
  width:100%;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.log-workout-form-label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.log-workout-form-input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #74d6dd;
  text-align: center;
  width: 80%;
}
input[type="date"] {
  font: inherit;
  padding-inline-start: inherit;
}
.log-workout-submit {
  margin-bottom: 0;
}
.log-workout-form-button {
  height: 40px;
  width: 80%;
  background-color: #f84b38;
  border: none;
  border-radius: 5px;
  color: #f8f8f8;
  font-size: 16px;
  cursor: pointer;
  margin-top: 18px;
}




.log-tables-container {
  width: 100%;
  max-width: 1100px;
  color: #f8f8f8;
  text-align: center;
}
.log-tables-header {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: #45433f 4px 4px;
}
.log-table-section {
  margin-bottom: 40px;
}
.log-table-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: #45433f 4px 4px;
}
.log-table-scrollable {
  max-height: 400px;
  overflow-y:scroll;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}
.log-table-scrollable thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
.log-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f8f8;
}
.log-table th, .log-table td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 16px;
}
.log-table th {
  background-color: #f84b38;
  color: #f8f8f8;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.log-table tr:nth-child(even) {
  background-color: #f4f4f4;
}
.log-table tr:nth-child(odd) {
  background-color: #fff;
}
.log-table tr:hover {
  background-color: #74d6dd;
  color: #fff;
}
.log-table td {
  font-weight: 500;
  color: #45433f;
}
.log-table td:hover {
  background-color: #f84b38;
  color: #fff;
}
.log-table td:last-child:hover {
  background-color: #74d6dd;
  color: #f84b38;
  
}
.e1rm-chart-container {
  width: 100%;
  max-width: 1100px;
  margin: 40px 0;
  color: #f8f8f8;
  text-align: center;
}
.e1rm-chart-header {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: #45433f 4px 4px;
}
.chart-container {
  position: relative;
  width: 100%;
  max-width: 1060px;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.delete-log-button {
  background-color: #f84b38;
  color: #f8f8f8;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  transition: background-color .3s ease;
  text-decoration: none;
}
