<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>

  <div class="container">

    <div class="nav-container">
      <div class="nav-logo">
        <a href="{{ url_for('index') }}" class="nav-logo-link">SBD Progress Tracker</a>
      </div>
      <div class="nav-logout">
        <a href="{{ url_for('logout') }}" class="logout-button">Sign Out</a>
      </div>
    </div>

    <div class="content-container">

      <div class="welcome-container">
        <h1 class="welcome-header">Welcome to SBD Progress Tracker</h1>
        <p class="welcome-paragraph">
          Our goal is to provide a place to log your SBD sets, visualize your E1RM over time, and monitor your personal
          bests!
        </p>
      </div>

      <div class="log-workout-container">
        <h2 class="log-workout-header">Log a workout</h2>
        <form method="POST" class="log-workout-form">
          {{ form.hidden_tag() }}
          <div class="log-workout-input-box">
            {{form.exercise.label(class="log-workout-form-label")}}
            {{ form.exercise(class="log-workout-form-input select-input") }}
          </div>
          <div class="log-workout-input-box">
            {{form.sets.label(class="log-workout-form-label")}}
            {{ form.sets(class="log-workout-form-input select-input") }}
          </div>
          <div class="log-workout-input-box">
            {{form.reps.label(class="log-workout-form-label")}}
            {{ form.reps(class="log-workout-form-input select-input") }}
          </div>
          <div class="log-workout-input-box">
            {{form.weight.label(class="log-workout-form-label")}}
            {{ form.weight(class="log-workout-form-input") }}
          </div>
          <div class="log-workout-input-box">
            {{form.rpe.label(class="log-workout-form-label")}}
            {{ form.rpe(class="log-workout-form-input select-input") }}
          </div>
          <div class="log-workout-input-box">
            {{ form.submit(class="log-workout-form-button") }}
          </div>
        </form>
      </div>

    </div>

  </div>

</body>

</html>