<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
</head>

<body>

  <div class="container">

    <div class="nav-container">
      <div class="nav-logo">
        <a href="{{ url_for('index') }}" class="nav-logo-link">SBD Progress Tracker</a>
      </div>
      <div class="nav-logout">
        <a href="{{ url_for('logout') }}" class="logout-button">Sign Out</a>
      </div>
    </div>

    <div class="content-container">

      <div class="welcome-container">
        <h1 class="welcome-header">Welcome to SBD Progress Tracker</h1>
        <p class="welcome-paragraph">
          Our goal is to provide a place to log your SBD sets, visualize your E1RM over time, and monitor your personal
          bests!
        </p>
      </div>

      <div class="log-workout-container">
        <h2 class="log-workout-header">Log a workout</h2>
        <form method="POST" class="log-workout-form">
          {{ form.hidden_tag() }}
          <div class="log-workout-input-box">
            {{form.date.label(class="log-workout-form-label")}}
            {{ form.date(class="log-workout-form-input", type="date") }}
          </div>
          <div class="log-workout-input-box">
            {{form.exercise.label(class="log-workout-form-label")}}
            {{ form.exercise(class="log-workout-form-input select-input") }}
          </div>
          <div class="log-workout-input-box">
            {{form.sets.label(class="log-workout-form-label")}}
            {{ form.sets(class="log-workout-form-input select-input") }}
          </div>
          <div class="log-workout-input-box">
            {{form.reps.label(class="log-workout-form-label")}}
            {{ form.reps(class="log-workout-form-input select-input") }}
          </div>
          <div class="log-workout-input-box">
            {{form.weight.label(class="log-workout-form-label")}}
            {{ form.weight(class="log-workout-form-input") }}
          </div>
          <div class="log-workout-input-box">
            {{form.rpe.label(class="log-workout-form-label")}}
            {{ form.rpe(class="log-workout-form-input select-input") }}
          </div>
          <div class="log-workout-input-box log-workout-submit">
            {{ form.submit(class="log-workout-form-button") }}
          </div>
        </form>
      </div>

      <div class="log-tables-container">
        <h2 class="log-tables-header">Your Workout Logs</h2>
        <div class="log-table-section">
          <h3 class="log-table-title">Squat Logs</h3>
          <div class="log-table-scrollable">
            <table class="log-table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Sets</th>
                  <th>Reps</th>
                  <th>Weight(lbs)</th>
                  <th>RPE</th>
                  <th>E1RM</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for log in squat_logs %}
                <tr>
                  <td>{{ log.date_logged.strftime('%m-%d-%Y') }}</td>
                  <td>{{ log.sets }}</td>
                  <td>{{ log.reps }}</td>
                  <td>{{ log.weight }}</td>
                  <td>{{ log.rpe }}</td>
                  <td>{{ log.e1rm }}</td>
                  <td> 
                    <form method="POST" action="{{ url_for('delete_log', log_id=log.id) }}">
                      {{ form.hidden_tag() }}
                      <button type="submit" class="delete-log-button">Delete</button>
                    </form>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
        <div class="log-table-section">
          <h3 class="log-table-title">Bench Press Logs</h3>
          <div class="log-table-scrollable">
            <table class="log-table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Sets</th>
                  <th>Reps</th>
                  <th>Weight(lbs)</th>
                  <th>RPE</th>
                  <th>E1RM</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for log in bench_logs %}
                <tr>
                  <td>{{ log.date_logged.strftime('%m-%d-%Y') }}</td>
                  <td>{{ log.sets }}</td>
                  <td>{{ log.reps }}</td>
                  <td>{{ log.weight }}</td>
                  <td>{{ log.rpe }}</td>
                  <td>{{ log.e1rm }}</td>
                  <td> 
                    <form method="POST" action="{{ url_for('delete_log', log_id=log.id) }}">
                      {{ form.hidden_tag() }}
                      <button type="submit" class="delete-log-button">Delete</button>
                    </form>
                  </td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="log-table-section">
          <h3 class="log-table-title">Deadlift Logs</h3>
          <div class="log-table-scrollable">
            <table class="log-table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Sets</th>
                  <th>Reps</th>
                  <th>Weight(lbs)</th>
                  <th>RPE</th>
                  <th>E1RM</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for log in deadlift_logs %}
                <tr>
                  <td>{{ log.date_logged.strftime('%m-%d-%Y') }}</td>
                  <td>{{ log.sets }}</td>
                  <td>{{ log.reps }}</td>
                  <td>{{ log.weight }}</td>
                  <td>{{ log.rpe }}</td>
                  <td>{{ log.e1rm }}</td>
                  <td> 
                    <form method="POST" action="{{ url_for('delete_log', log_id=log.id) }}">
                      {{ form.hidden_tag() }}
                      <button type="submit" class="delete-log-button">Delete</button>
                    </form>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>

      </div>

      <div class="e1rm-chart-container">
        <h2 class="e1rm-chart-header">E1RM Progress</h2>
        <div class="chart-container">
          <canvas id="e1rm-chart"></canvas>
          <script>
            var ctx = document.getElementById('e1rm-chart').getContext('2d');

            var squat_values = {{ squat_values | safe }};
            var bench_values = {{ bench_values | safe }};
            var deadlift_values = {{ deadlift_values | safe }};
            squat_values = squat_values.map(value => value === 0 ? null : value);
            bench_values = bench_values.map(value => value === 0 ? null : value);
            deadlift_values = deadlift_values.map(value => value === 0 ? null : value);

            var e1rmChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: {{ all_dates | safe }},
                datasets:
                [{
                  label: 'Squat E1RM',
                  data: squat_values,
                  borderColor: 'rgb(255, 99, 132)',
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  tension: 0.1,
                  pointRadius: 5,
                  pointHoverRadius: 8,
                  spanGaps: true,
                },{
                  label: 'Bench Press E1RM',
                  data: bench_values,
                  borderColor: 'rgb(54, 162, 235)',
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  tension: 0.1,
                  pointRadius: 5,
                  pointHoverRadius: 8,
                  spanGaps: true,
                },{
                  label: 'Deadlift E1RM',
                  data: deadlift_values,
                  borderColor: 'rgb(75, 192, 192)',
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  tension: 0.1,
                  pointRadius: 5,
                  pointHoverRadius: 8,
                  spanGaps: true,
                }]
              },
              options: {
                scales: {
                  y: {
                    min: 0,
                    ticks: {
                      color: '#45433f',
                    },
                    grid: {
                      color: '#555',
                    }
                  },
                  x: {
                    ticks: {
                      color: '#45433f',
                    },
                    grid: {
                      color: '#555',
                    }
                  }
                },
                responsive: true,
                maintainAspectRatio: true,
                animation: {
                  duration: 1000,
                  easing: 'easeInOutQuart'
                },
              }
            });
          </script>
        </div>

      </div>

</body>

</html>